.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  &__about {
    padding-bottom: 0.6rem;
    border-bottom: 1px solid;
    margin: 0 auto;
    width: fit-content;
  }
}